In [14]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [5]:
data_usa = pd.read_csv('./data_usa.csv', encoding = 'cp1252')

In [6]:
data_aust = pd.read_csv('./data_aust.csv', encoding = 'cp1252')

In [7]:
data_usa.groupby('Fatal').sum()

         Year
Fatal
Y      358647

In [8]:
data_aust.groupby('Fatal').sum()

         Year
Fatal
Y      545511

# Australia

<img src="Australia.png">

# Usa

<img src="Usa.png">

Conclusión: Tiene más muerto por ataques de tiburones Australia que Usa